.panel.panel-default {
  justify-content: space-between;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

google-chart div {
  margin: 0 auto;
  width: 150px;
}

.card {
  width: 100%;
  margin-top: 5px;
}

.card-block {
  text-align: center;
}